<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yeeun_yun97.clone.today_phase">

    <application
        android:name="com.github.yeeun_yun97.clone.today_phase.custom_context.TodayPhaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodayPhase">
        <activity
            android:name=".ui.QuoteEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QuoteListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QuoteMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>